---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import QueAporto from '../components/QueAporto.astro';
import Logros from '../components/Logros.astro';
import Saas from '../components/Saas.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Trajectory from '../components/Trajectory.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Navbar />
    <main>
        <Hero />
        <QueAporto />
        <Logros />
        <Saas />
        <Projects />
        <Skills />
        <Trajectory />
        <Contact />
    </main>
    <Footer />
</Layout>
