---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Kpi from '../components/Kpi.astro';
import Saas from '../components/Saas.astro';
import Skills from '../components/Skills.astro';
import Trajectory from '../components/Trajectory.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Navbar />
    <main>
        <Hero />
        <Kpi />
        <Saas />
        <Skills />
        <Trajectory />
        <Contact />
    </main>
    <Footer />
</Layout>
